<mat-card  *ngIf="article" class="article-list-item">
   

    <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div> --> 
        <mat-card-title   >  <a (click)="router.navigateByUrl('/article/'+article.id)" >{{ article.title  }}</a>   </mat-card-title>
        <!--This will be a link to the article-->
        <!-- [routerLink]="['article/',article.id]" -->
        <mat-card-subtitle>Created by {{ article.author.firstName +' ' + article.author.lastName }}</mat-card-subtitle>
        <!--This will be a link to the author -->
    </mat-card-header>
    <!-- <img mat-card-image src="./../../assets/img/default-image.jpg" alt="default-image" /> -->
    <!-- This will be a link to the article -->

    <mat-card-actions>
        <!-- <button mat-button>LIKE</button> -->
        <button mat-button (click)="router.navigateByUrl('/article/'+article.id)" >VIEW</button>
        <span *ngIf="userService.user && article.author.id == userService.user.id">
            <button (click) ="deleteArticle()" ><mat-icon>delete</mat-icon></button>
            <button (click)="router.navigateByUrl('/edit-article/'+article.id)"><mat-icon>edit</mat-icon></button>
        </span>
    </mat-card-actions>
</mat-card>